#Datos para la conexión con la BD
DB_HOST=localhost
DB_PORT="Puerto"
DB_USER="Identificar Usuario"
DB_PASSWORD="Contraseña"
DB_NAME="Nombre DB"

#Datos del servidor
PORT=3000
NODE_ENV=development

# JWT para Railway
JWT_SECRET="Clave"
JWT_EXPIRE=7d
